// background
$primary-bg-color: #293133;
$secondary-bg-color: #000000;

// text
$primary-color: #a6880f;
$text-size-standard: 1rem;

// border
$border-color: #ffffff;
$primary-border: 1px #ffffff solid;
$secondary-border: 2px #a6880f solid;
$primary-border-radius: 25px;
