@import 'variables';

body {
  font-size: $text-size-standard;
  color: $primary-color;
  background-color: $primary-bg-color;

  :not(header) {
    margin-left: 10px;
  }
}

header {
  background-color: $secondary-bg-color;
  border-bottom: 2px #ffffff solid;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: $primary-color;
    border: $secondary-border;
    border-radius: $primary-border-radius;
    width: 10rem;
    margin-right: 1rem;

    &:hover {
      background: rgba($primary-color, 0.35);
      border-color: rgba($primary-color, 0);
    }
  }
}
